<header>
  <h1 id="myName">Archana Sriram</h1>
  <h2 id="myTitle">User Experience Focused Software Engineer</h2>
  <ul>
    <li id="myAddress" class="myContact">3268 W Palmer St, 3E, Chicago, IL 60647</li>
    <li id="myPhone" class="myContact">312.612.9131</li>
    <li id="myEmail" class="myContact">artistic.archana@gmail.com</li>
  </ul>
</header>
