<header>
  <h1 id="myName">Archana Sriram</h1>
  <h2 class="myTitle">User Experience Focused Software Engineer</h2>
  <h2 class="myTitle">UX Focused Full-stack Web Developer</h2>
  <div id="myContact-wrapper">
    <div id="myContact-group">
      <h3 id="myAddress" class="myContact">3268 W Palmer St, 3E, Chicago, IL 60647</h3>
      <h3 id="myPhone" class="myContact">312.612.9131</h3>
      <h3 id="myEmail" class="myContact">artistic.archana@gmail.com</h3>
    </div>
  </div>
</header>
