<section id="education">
  <h1>Education</h1>
  <h2>Northwestern University</h2>
  <p>Bachelor of Arts in Cognitive Science, Concentration: Experience Design</p>
  <p>Adjunct Major: Animate Arts</p>
  <p>GPA: 3.8</p>
</section>
