<section id="projects">
  <h1>Projects in Software and Design</h1>
  <p>Android apps. 2012—present.</p>
  <p>MVC Framework. 2008—2011.</p>
  <p>Adapted bare-bones MVC framework for personal and business websites. Incorporated ability to update site database through UI using AJAX requests. Resulting framework used in creating low-profile content management systems for sites.</p>
</section>
