<section id="skills_interests">
  <h1>Skills &amp; Interests</h1>
  <p>Currently learning ECMAScript 6 &amp; 7, and Go. Prefer git workflow and Unix.</p>
  <p>Certified Yoga Instructor, Licensed Massage Therapist. Conversational Tamil and Japanese. Basic French.</p>
</section>
