<section id="skills_interests">
  <h1>Skills &amp; Interests</h1>
  <p>Expert in latest versions of HTML, CSS, JavaScript. Fluid in .NET, PHP/MySQL, Photoshop. Ruby on Rails, cloud-dev (Heroku, EngineYard). Currently learning Node.js, AngularJS, Java for Android. Prefer git and *NIX.</p>
  <p>Other Skills: Certified Yoga Instructor, Licensed Massage Therapist. Languages: Conversational Tamil and Japanese. Basic French.</p>
</section>
