<section id="work_experience">
  <h1>Work Experience</h1>
<%= render 'resume/work_experience/careerbuilder' %>
<%= render 'resume/work_experience/mcmaster' %>
<%= render 'resume/work_experience/bechtel' %>
<%= render 'resume/work_experience/private' %>
</section>
