<section id="work_experience_bechtel">
  <h1>User-Support Technician, IS&amp;T Department, Bechtel Aberdeen, MD; Summers of 2003, 2004, and 2005</h1>
• Improved project communication by streamlining intranet website, formatting for consistency, and retooling menus/nav.
• Trained website content managers, developed tutorials and technical manuals, distributing responsibilities and empowering users. Planned, designed, and instructed user-training sessions in Microsoft Office applications. Created user training manuals for managers of SharePoint sites.
• Created surveys for project managers and tabulated results, illuminating employee concerns to management. Wrote custom VBScript in Microsoft Excel and Word for C-level leaders as needed to expedite work process.
• Deeply involved member of Communications Improvement Team; bridged communication between management and workforce, organized community events, and voiced employee concerns to improve morale, communication, and teamwork.
</section>
