<section id="work_experience_careerbuilder">
  <h1>User Experience Designer/Developer, promoted to Software Engineer III, Data Portal Team, CareerBuilder, Chicago, IL; March 2012—present</h1>
  <ul>
    <li>Joined company as a consultant, collaborating with business owners, project managers and developers to overhaul the UX.</li>
    <li>Conducted baseline and in-depth usability tests with external and internal users. Recorded and edited videos, and presented snippets and findings with team. Revealed user frustrations with Supply & Demand Portal, and recommended high priority solutions to improve user experience. Interviewed users, created personas, and represented the user’s voice in team meetings.</li>
    <li>Initiated and managed projects in UI redesign. Persuaded business owners to green-light the projects, and implemented them. Examples: Search page redesign, overview redesign, menu/navigation organization redesign, and visual design (graphical) work.</li>
    <li>Designed and implemented numerous interactive prototypes for complex data filtering UI project. Tested prototypes with internal and external users; recommended a final solution that I later implemented both front-end and back-end (.NET, SQL).</li>
    <li>Shared knowledge with the team about UX in Agile/Lean development, leading to better team organization.</li>
    <li>Conducted team learning sessions in JavaScript, HTML, CSS, and jQuery. Conducted cross-departmental brainstorm sessions during project kickoff, using collaborative critique (Design Studio) model.</li>
    <li>Refactored JavaScript and VB.NET code eliminating 3000+ lines of code, and implemented cleaner solutions to ease future code maintenance. Participated in creative Hackday idea and presented a solution to repossess 20% of screen space.</li>
    <li>Became the team steward for high quality front-end code and Selenium testing standards.</li>
    <li>Currently RoR developer for apps on Heroku and EngineYard.</li>
  </ul>
</section>
