<section id="work_experience_careerbuilder">
  <h1>Software Engineer III, various front-end teams, CareerBuilder, Chicago, IL; October 2013—present</h1>
  <ul>
    <h2>Full-stack Node.js Developer: August 2014-present</h2>
    <li>Apply Experience project to replace existing job application form with our new app. MEAN stack development (Node, Express, Angular, MongoDB) hosted on AWS VPC using passenger/nginx, s3, SQS, Chef, redis. Git workflow with codeship and New Relic integration. Managed integration of this off-platform app with .NET-based legacy monolith.</li>
    <li>Focused on balancing modular, functional JavaScript design with simplicity when adding new features. Collaborated on code architecture design discussions as the project grew.</li>
    <li>Three-fold increase in user registrations because of cleaner UI, more performant &amp; usable site, and auto registration. Resulted in more people applying to more jobs without losing valuable candidate data.</li>
    <li>Won Hackathon accolade for Candidate Enrichment idea/prototype which would provide richer candidate data for clients while also allowing jobs to be quick-appliable.</li>
  </ul>
  <ul>
    <h2>Full-stack RoR Developer: October 2013-August 2014</h2>
    <li>Ground-up development of Ruby on Rails applications cloud-hosted on Heroku and EngineYard.</li>
    <li>Noticing a front-end skills gap, I conducted JavaScript training with the team on key concepts such as closures, scope, hoisting, and execution context.</li>
    <li>Demonstrated 75% decrease in API hits by implementing response caching. This significantly reduced the load on the API servers and boosted our Rails application's responsiveness via lower request queue times.</li>
    <li>Created a widget service Rails solution served to our clients via a request to load JavaScript on their pages.</li>
    <li>As senior engineer on the teams, I monitored server failures using New Relic, and tweaked application instances and load balancers.</li>
    <li>Set the standard for >97% test coverage, in addition to end-to-end Selenium testing.</li>
  </ul>
  <h1>User Experience Designer/Developer, Data Portal Team, CareerBuilder, Chicago, IL; March 2012—October 2013</h1>
  <ul>
    <li>Joined the company as a consultant, collaborating with business owners, project managers and developers to overhaul the UX.</li>
    <h2>UX Lead</h2>
    <li>Conducted baseline and in-depth usability tests with external and internal users. Recorded and edited videos, and presented snippets and findings with the team. Revealed user frustrations with Supply &amp; Demand Portal, and recommended high priority solutions to improve user experience. Interviewed users, created personas, and represented the user’s voice in team meetings.</li>
    <li>Conducted cross-departmental brainstorm sessions during project kickoff, using collaborative critique (Design Studio) model.</li>
    <h2>Front-end Developer</h2>
    <li>Our team's product ownership was weak and lacked design direction. I devoted after-hours time to redesigns, persuaded business owners to green-light them, and implemented them. Examples: Search page, overview, menu/navigation organization, and visual (graphical) work.</li>
    <li>Refactored JavaScript, CSS, and VB.NET code eliminating 3000+ lines, and implemented object-oriented JavaScript solutions to ease future code maintenance. Participated in creative Hackday idea and presented a solution to repossess 20% of screen space.</li>
    <h2>Interaction Designer</h2>
    <li>Designed and implemented numerous interactive prototypes for complex data filtering UI project. Tested prototypes with internal and external users; recommended a final solution that I later implemented both front-end and back-end (VB &amp; C# .NET, SQL Server).</li>
    <h2>Evangelist</h2>
    <li>Continuously shared knowledge with the team about UX in Agile/Lean development, leading to better team organization with dual-track sprints.</li>
    <li>Conducted team learning sessions in JavaScript, HTML, CSS, and jQuery.</li>
    <li>Became the team steward for high quality front-end code and Selenium testing standards.</li>
  </ul>
</section>
