<section id="work_experience_mcmaster">
  <h1>Software Developer, Systems Department, McMaster-Carr, Elmhurst, IL; 2008—2010</h1>
  <ul>
    <li>Assisted with site redesign using AJAX and YUI tools for faster search-suggestions, multi-tier navigation and product search.</li>
    <li>Improved warehouse work conditions and efficiency by designing VB.NET web application to route work to appropriate stations. Designed and tested UI with users in the warehouse.</li>
    <li>Persuaded CEO and directors to implement cost-saving shipment estimation project. Extensive use of Microsoft Access and Visio to analyze and present these data.</li>
  </ul>
</section>


