<section id="work_experience_mcmaster">
  <h1>Software Developer, Systems Department, McMaster-Carr, Elmhurst, IL; 2008—2010</h1>
• Total drudgery
• Spent evenings teaching myself MVC by writing my own framework and using it in personal websites, thereby mitigating the deleterious effects of drudgery.
</section>
