<section id="work_experience_private">
  <h1>Web Design Consultant, Evanston, IL; 2003—2006</h1>
• Full-stack designer/developer of business website for a personal trainer; created logos, banners, and icons; organized content to improve ease and clarity of navigation.
</section>
