header {
  clear: both;
  overflow: auto;
  text-align: center;
  * {
    font-weight: normal;
  }
  h2 {
    font-size: 1.5em;
  }
  #myContact-wrapper {
    margin: 1em 0;
    #myContact-group {
      display: inline-block;
      .myContact {
        border-left: 1px solid black;
        float: left;
        font-size: 1em;
        margin: 0;
        padding: .1em 1em;
        &:first-child {
          border-left: none;
        }
      }
      #myAddress:before {
        content:'Add:\0020';
      }
      #myPhone:before {
        content:'Ph:\0020';
      }
      #myEmail:before {
        content:'E:\0020';
      }
    }
  }
}

footer {
  margin: 10px auto;
  text-align: center;
}

section {
  h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 1.2em 0 .5em 0;
  }
  h2, section h1, section h2 {
    font-size: 1.3em;
    font-weight: normal;
    margin: 1em 0 .5em 0;
  }
  p, li {
    margin: .5em 0;
  }
}
